[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
black = "*"
certifi = "*"
faiss-cpu = "*"
langchain = "*"
markdown = "*"
openai = "*"
optional = "*"
pgvector = "*"
pinecone-client = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
sqlmodel = "*"
tiktoken = "*"
typing = "*"
unstructured = "*"
weaviate-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
