[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
pinecone-client = "*"
tiktoken = "*"
faiss-cpu = "*"
openai = "*"
weaviate-client = "*"
psycopg2-binary = "*"
beautifulsoup4 = "*"
unstructured = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.11"
